body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 2rem;
}

.navbar {
background: linear-gradient(to bottom right, rgb(229, 229, 255), rgb(29, 20, 21));
}

.navbar-item img {
    max-height: 100px;
    padding: 10px;
}

.notification {
    background-color: rgb(44, 39, 48);
    color: #fff;
}

.search-bar {
    margin-bottom: 2rem;
}
#search-button{
    background-color: rgb(57, 44, 61);
    color: #fff;
    font-size: 14px;
}
.input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

#forecast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.forecast-item {
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
    }

    .column.is-one-third,
    .column.is-two-thirds {
        width: 100%;
    }

}